## Entrenamiento de modelos usando Pycaret

In [1]:
import pandas as pd
import joblib
import os

os.chdir('../')

#### Cargar datos de entrenamiento

In [2]:
df_train = joblib.load("datos/data_train.joblib")

In [3]:
df_train.head()

,motivo,departamento_inmueble,municipio_inmueble,barrio,vias_pavimentadas,sardineles_en_las_vias,andenes_en_las_vias,estrato,topografia_sector,demanda_interes,...,calidad_acabados_banos,estado_acabados_cocina,calidad_acabados_cocina,tipo_garaje,numero_total_de_garajes,total_cupos_parquedaro,tipo_deposito,numero_total_depositos,area_libre,clean_valor_total_avaluo
4279,Empleados,ANTIOQUIA,ITAGUI,Ditares,Si,No,No,4.0,Ligera,2.0,...,2.0,3.0,2.0,2.0,1.0,1.0,0,0.0,No,194906580.0
8278,Crédito hipotecario de vivienda,META,PUERTO LOPEZ,SANTANDER,Si,Si,Si,3.0,Plano,2.0,...,1.0,3.0,1.0,0.0,0.0,0.0,0,0.0,0,122794500.0
6684,Crédito hipotecario de vivienda,NORTE DE SANTANDER,CUCUTA,PRADOS DEL ESTE,Si,Si,Si,3.0,Plano,2.0,...,2.0,3.0,1.0,3.0,1.0,1.0,0,0.0,Si,161650000.0
12351,Crédito hipotecario de vivienda,ANTIOQUIA,RIONEGRO,Sector San Antonio de Pereira,Si,Si,Si,4.0,Plano,3.0,...,2.0,3.0,2.0,0.0,0.0,0.0,0,0.0,No,226860000.0
10770,Crédito hipotecario de vivienda,SANTANDER,GIRON,URB. MARIANELA,No,No,Si,2.0,Ligera,2.0,...,1.0,3.0,3.0,0.0,0.0,0.0,0,0.0,No,111707200.0

In [4]:
df_train.shape

(10155, 90)

#### Cargar encoder y selector de variables

In [5]:
import joblib
fwiz = joblib.load("modelos/fwiz.joblib")
cat_econder = joblib.load("modelos/cat_econder.joblib")

Imported 0.3.2 version. Select nrows to a small number when running on huge datasets.
output = featurewiz(dataname, target, corr_limit=0.90, verbose=2, sep=',',
		header=0, test_data='',feature_engg='', category_encoders='',
		dask_xgboost_flag=False, nrows=None, skip_sulov=False, skip_xgboost=False)
Create new features via 'feature_engg' flag : ['interactions','groupby','target']

#### Aplicar encoder y selector de variables

In [6]:
X_train_t = cat_econder.transform(df_train.drop(columns=['clean_valor_total_avaluo']))

In [7]:
X_train_selected = pd.concat([fwiz.transform(X_train_t), df_train['clean_valor_total_avaluo']], axis=1)

#### Realizar experimento con pycaret

In [8]:
from pycaret.regression import *

In [9]:
reg = setup(data=X_train_selected, target='clean_valor_total_avaluo', train_size=0.8, log_experiment=True, experiment_name='reg_experiments', log_plots=True)

2023/11/06 19:21:45 INFO mlflow.tracking.fluent: Experiment with name 'reg_experiments' does not exist. Creating a new experiment.

In [10]:
top5 = compare_models(n_select=5, exclude=(['ransac', 'knn']), sort='MAPE', fold=5)

Initiated  . . . . . . . . . . . . . . . . . .           19:21:46
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Compiling Library

#### Exportar mejor modelo

In [11]:
final_best = finalize_model(top5[0])

In [12]:
save_model(final_best, 'modelos/best_model-pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['barrio_50', 'barrio_90',
                                              'area_valorada', 'barrio_10',
                                              'cocina', 'estrato',
                                              'municipio_inmueble_50',
                                              'total_cupos_parquedaro',
                                              'vetustez', 'topografia_sector_75',
                                              'tipo_inmueble_25',
                                              'tipo_inmueble_10',
                                              'departamento_inmueble_10',
                                              'municipio_inmueble_10',
                                              'tipo_garaje'...
                                              'estado_acabados_cocina',
                                              'departamento_inmueble_90',
                                              'sardineles_en_las_vias_10',
                                              'calidad_acabados_pisos',
                                              'demanda_interes', 'alamedas_10', ...],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('actual_estimator',
                  RandomForestRegressor(n_jobs=-1, random_state=1974))]),
 'modelos/best_model-pipeline.pkl')